<!DOCTYPE html>
<html class="antialiased" lang="fr">

<head>
  {% include "partials/site-head.html" %}
</head>

<body data-env="{{ node.env }}">
  {% include "partials/site-header.html" %}

  <div class="justify-center items-center hidden md:flex h-screen">
    <h1 class="text-xl">Rendez-vous sur mobile !</h1>
  </div>
  <main id="main-content" class="md:hidden" tabindex="-1">
    {% block content %}{% endblock %}
  </main>

  <script type="module" src="/scripts/index.js"></script>
</body>

</html>