{% layout 'layouts/base.html' %}

{% block content %}
<div>
  <div class="pt-16"><img src="/dogs.jpg" alt="Dogs" class="border-b border-current">

    <div class="h-16 flex items-center justify-center border-b border-current">
      <h1 class="text-xl font-bold">{{ title }}</h1>
    </div>

    <div class="border-b border-current flex divide-x divide-current">
      <div class="flex flex-col flex-1 items-center py-4"><svg aria-hidden="true" focusable="false" data-prefix="far"
          data-icon="clock" class="svg-inline--fa fa-clock fa-w-16 h-8 mb-2" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z">
          </path>
        </svg><span><strong>Préparation :</strong> {{ cookingTime }}</span></div>
      <div class="flex flex-col flex-1 items-center py-4"><svg aria-hidden="true" focusable="false" data-prefix="far"
          data-icon="hourglass" class="svg-inline--fa fa-hourglass fa-w-12 h-8 mb-2" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path fill="currentColor"
            d="M368 48h4c6.627 0 12-5.373 12-12V12c0-6.627-5.373-12-12-12H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h4c0 80.564 32.188 165.807 97.18 208C47.899 298.381 16 383.9 16 464h-4c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h360c6.627 0 12-5.373 12-12v-24c0-6.627-5.373-12-12-12h-4c0-80.564-32.188-165.807-97.18-208C336.102 213.619 368 128.1 368 48zM64 48h256c0 101.62-57.307 184-128 184S64 149.621 64 48zm256 416H64c0-101.62 57.308-184 128-184s128 82.38 128 184z">
          </path>
        </svg><span><strong>Durée totale :</strong> {{ leadTime }}</span></div>
    </div>

    <div class="h-16 flex items-center justify-center border-b border-current">
      <h2 class="text-lg font-bold">Ingrédients</h2>
    </div>
    {% for ingredient in ingredients %}
    <div class="p-2 border-b border-current"><span><strong>{{ ingredient.name }}
          : </strong>{{ ingredient.quantity }}</span></div>
    {% endfor %}

    <div class="h-16 flex items-center justify-center border-b border-current">
      <h2 class="text-lg font-bold">Étapes</h2>
    </div>
    {% for step in steps %}
    <div class="border-b border-current divide-x divide-current flex">
      <div class="w-12 flex items-center justify-center"><strong>{{ forloop.index }}</strong></div>
      <div class="flex-1 p-2">{{ step }}</div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}